/target/
!.mvn/wrapper/maven-wrapper.jar
##common##
/.vscode/
log/**/*.log

### python ###
__pycache__/
screenShot/**/*.png
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### vscode ###
/.vscode/

### pypi ###
dist/
*.egg-info/
build/
dist/